# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:



*   Phyton
*   RR
*   SQL
*   Java

Some of the commonly used libraries used by Data Scientists include:


*   Pandas
*   NUMPY
*   MATPLOTLIB
*   SEABORN


| Data Science Tools |
|---|
| Visual Studio |
|Jupyter Lab|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

#### **Objectives:**



*   List popular languages for Data Science
*   Running code and text in notebook
*   Perform arithmetic operations
*   Remember concepts seen in other modules

## Author
Juan Sebastian Mendez Tierradentro